<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.imageboard"
        version   = "2.5.0">

    <name>ImageBoard</name>

    <description>
        Next level    
    </description>

    <!-- build only for android !-->
    <gap:platform name="android" />

    <preference name="fullscreen" value="true" />
    <preference name="orientation" value="portrait" />
    <preference name="android-minSdkVersion" value="15" />


    <plugin name="Camera" value="org.apache.cordova.CameraLauncher" />
    <feature name="http://api.phonegap.com/1.0/camera" />
    <feature name="http://api.phonegap.com/1.0/file" />
</widget>